<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl }}{{site.logo}}" alt="{{site.title}} logo" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{site.url}}{{ site.baseurl }}">{{site.title}}</a>
            {% endif %}
            <div class="site-nav-content">
                <ul class="nav">
                    {% for item in site.navigation %}
                    <li {% if item.url == page.url %}class="nav-current"{% endif %}><a href="{{site.baseurl}}{{item.url}}">{{item.name}}</a></li>
                    {% endfor %}
                </ul>
                {% if page.layout == post %}
                    <span class="nav-post-title {% unless site.logo %}dash{% endunless %}">{{post.title}}</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="site-nav-right">
            <div class="social-links">
                {% if site.facebook %}
                    <a class="social-link social-link-fb" href="https://facebook.com/{{site.facebook}}" title="Facebook" target="_blank" rel="noopener">{% include icons/facebook.html %}</a>
                {% endif %}
                {% if site.twitter %}
                    <a class="social-link social-link-tw" href="https://twitter.com/{{site.twitter.username}}" title="Twitter" target="_blank" rel="noopener">{% include icons/twitter.html %}</a>
                {% endif %}
            </div>
    </div>
</nav>
